&[id="2"] {
  background-image: url($baseurl + '/assets/images/bg2.png');
  background-position-y: bottom;
  background-position-x: -30px;
  background-size: 1462px;

  .content {
    min-height: 500px;
    justify-content: flex-end;
  }

  .right {
    padding: 0;
    width: 40%;
    padding-bottom: 50px;
  }

  @media screen and (max-width: $ipad-horizontal) {
    background-position-x: -100px;
    background-size: 1100px;

    .right {
      width: 60%;
    }
  }

  @media screen and (max-width: $ipad) {
    background-image: url($baseurl + '/assets/images/bg2-reverse.png');
    background-position: right -100px bottom;
    background-size: 900px;

    .content {
      justify-content: flex-start;
    }

    .right {
      width: 70%;
    }
  }

  @media screen and (max-width: $mobile) {
    background-image: url($baseurl + '/assets/images/bg2-reverse.png');
    background-position: right -80px bottom;
    background-size: 700px;

    .content {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0;
      
      .right {
        width: 100%;
        padding-bottom: 200px;
      }
    }
  }
}