&[id="1"] {
  background-image: url($baseurl + '../assets/images/bg1.png');

  .left {
    flex: 1;
    padding-top: 100px;

    img {
      max-width: 900px;
    }

    .description {
      margin: 50px 0 90px 0;
      width: 70%;

      h3 {
        font-size: 25px;
      }
    }

  }

  .right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    img {
      max-width: 386px;
      max-height: 448px;
    }
  }

  .stats {
    display: flex;
    flex: 100%;
    padding-bottom: 60px; 

    .stat {
      display: flex;
      flex-flow: column nowrap;
      padding-right: 25px;
      align-items: center;

      &:last-of-type {
        padding-right: 0;
      }

      img {
        width: 60px;
      }

      p {
        color: #7DD3F1;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }

  @media screen and (max-width: $ipad-horizontal) {
    .left {
      .description {
        width: 100%;
        h3 {
          font-size: 20px;
        }
      }
    }

    .stats .stat img {
      width: 50px;
    }
  }

  @media screen and (max-width: $ipad) {
    .left {
      flex: 100%;
      order: 2;
      text-align: center;
      padding-right: 0;
      padding-top: 70px;
    }
    .right {
      flex: 100%;
      order: 1;
      padding-left: 0;
    }
    .stats {
      order: 3;
      justify-content: center;
      text-align: center;
    }
  }
}
