<header>
    Want your own copy of Entanglion? <a href="http://github.com/Entanglion/entanglion">Visit Github</a> to build your own!

            <!--Language Switchers-->

            <div class="lang-switch-area">
                <ul class="lang-switch">
                  <li><a href="index.html"><img src="../assets/images/flag-us.png"></a></li>
                  <li><a href="./cs/index.html"><img src="../assets/images/flag-cs.png"></a></li>
                </ul>
              </div>
      
      
              <!--Language Switchers End-->
</header>
