---
layout: default
---
<section id="1">
  <div class="content">
    <div class="left">
      <img src={{ '/assets/images/logo.png' | relative_url }} />
      <div class="description">
        <h3>The World’s First Open Source Quantum Board Game. Master New Galaxies in Your Quest to Construct a Quantum Computer!</h3>
      </div>
    </div>
    <div class="right">
      <img src={{ '/assets/images/game-box.png' | relative_url }} />
    </div>
    <div class="stats">
      <div class="stat">
        <img src={{ '/assets/images/icons/2-players.png' | relative_url }} />
        <p>2 hráči</p>
      </div>
      <div class="stat">
        <img src={{ '/assets/images/icons/user.png' | relative_url }} />
        <p>Věk 14+</p>
      </div>
      <div class="stat">
        <img src={{ '/assets/images/icons/timer.png' | relative_url }} />
        <p>~45 minut</p>
      </div>
    </div>
  </div>
</section>

<section id="2">
  <div class="content">
    <div class="right">
      <h1>Welcome to the Quantum Universe, Captain!</h1>
      <p>Congratulations, your captain has retired and left you in charge of his galactic shipping business! Now it’s time to make some upgrades as you embark on a journey to reconstruct a quantum computer developed by an ancient race.</p> 
      <p>Entanglion is a cooperative board game designed for two players. Learn about quantum computing as you work together with your teammate to navigate the three galaxies of the quantum universe, avoid detection by the defense mechanisms left behind by the ancients, and rebuild the quantum computer.</p> 
      <p>Think you’re up for the challenge?</p>
    </div>
  </div>
</section>

<section id="3">
  <div class="content">
    <div class="left">
      <h1>Build Your Own Quantum Universe</h1>
      <p>Visit <a href="https://github.com/Entanglion/entanglion">GitHub</a> to download the design files and print your own copy of Entanglion, or purchase a boxed copy at <a href="https://www.thegamecrafter.com/games/entanglion1">The Game Crafter</a>.</p>
      <p>If you are an educator looking to use Entanglion as a classroom activity, please <a href="mailto:entanglion@us.ibm.com">contact us</a>.</p>
    </div>
    <div class="right">
      <img src={{ '/assets/images/game-board.png' | relative_url }} />
    </div>
  </div>
</section>

<section id="4">
  <div class="content">
    <h1>About Entanglion</h1>
    <div class="left">
      <p>Entanglion was designed at <a href="http://www.research.ibm.com"> IBM Research</a> to expose players to several fundamental concepts in quantum computing, including qubits, superposition, entanglement, measurement, and error. Entanglion also exposes players to the different kinds of hardware and software components involved in building a real quantum computer.</p>
    </div>
    <div class="right">
      <h3>Credits</h3>
      <p>Game Design: <a href="https://twitter.com/MaryamAshoori">Maryam Ashoori</a> & <a href="https://github.com/jweisz">Justin D. Weisz</a></p>
      <p>Illustration: <a href="https://twitter.com/aarrccooxx">Aaron Cox</a>, <a href="https://www.linkedin.com/in/michaelleekenney/">Michael L. Kenney</a></p>
      <p>Quantum Science: <a href="https://github.com/jaygambetta">Jay M. Gambetta</a>, <a href="https://github.com/jerrymchow">Jerry M. Chow</a>, <a href="https://github.com/levbishop">Lev S. Bishop</a></p>
    </div>
  </div>
</section>

