@font-face {
  font-family: 'IBMPlexMonoRegular';
  src: url($baseurl + "/assets/fonts/IBMPlexMono/IBMPlexMono-Regular-Latin1.woff");
}
@font-face {
  font-family: 'IBMPlexSansRegular';
  src: url($baseurl + "/assets/fonts/IBMPlexSans/IBMPlexSans-Regular-V01.1.woff");
}
@font-face {
  font-family: 'IBMPlexSansMedium';
  src: url($baseurl + "/assets/fonts/IBMPlexSans/IBMPlexSans-Medium-V01.1.woff");
}
@font-face {
  font-family: 'IBMPlexSansLight';
  src: url($baseurl + "/assets/fonts/IBMPlexSans/IBMPlexSans-Light-V01.1.woff");
}
@font-face {
  font-family: 'IBMPlexSansExtraLight';
  src: url($baseurl + "/assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight-V01.1.woff");
}
@font-face {
  font-family: 'IBMPlexSansSemiBold';
  src: url($baseurl + "/assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold-V01.1.woff");
}