@font-face {
    font-family: 'IBMPlexMonoRegular';
    src: url("../assets/fonts/IBMPlexMono/IBMPlexMono-Regular.woff")
}

@font-face {
    font-family: 'IBMPlexSansRegular';
    src: url("../assets/fonts/IBMPlexSans/IBMPlexSans-Regular-V01.1.woff")
}

@font-face {
    font-family: 'IBMPlexSansMedium';
    src: url("../assets/fonts/IBMPlexSans/IBMPlexSans-Medium-V01.1.woff")
}

@font-face {
    font-family: 'IBMPlexSansLight';
    src: url("../assets/fonts/IBMPlexSans/IBMPlexSans-Light-V01.1.woff")
}

@font-face {
    font-family: 'IBMPlexSansExtraLight';
    src: url("../assets/fonts/IBMPlexSans/IBMPlexSans-ExtraLight-V01.1.woff")
}

@font-face {
    font-family: 'IBMPlexSansSemiBold';
    src: url("../assets/fonts/IBMPlexSans/IBMPlexSans-SemiBold-V01.1.woff")
}

html,
body {
    margin: 0
}

header {
    background-color: #061689;
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'IBMPlexMonoRegular';
    font-size: 14px
}

footer {
    background-color: #80D3EF;
    padding: 15px;
    text-align: right;
    font-family: 'IBMPlexSansRegular'
}

footer span {
    font-family: 'IBMPlexSansSemiBold'
}

a {
    color: #4DAAFA;
    text-decoration: none
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

h1 {
    font-family: 'IBMPlexSansRegular';
    font-size: 40px
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 30px
    }
}

p,
h3 {
    font-size: 20px
}

@media screen and (max-width: 1024px) {
    p,
    h3 {
        font-size: 16px
    }
}

.not-found {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding-top: 50px
}

main {
    padding: 0 20px;
    min-height: calc(100vh - 98px);
    background-color: #131821;
    color: white;
    font-family: 'IBMPlexSansExtraLight'
}

main section {
    margin: auto -20px;
    padding: 0 30px;
    background-size: contain;
    background-repeat: no-repeat
}

main section .content {
    padding: 30px;
    border-bottom: 1px solid #3A3655;
    display: flex;
    flex-flow: row wrap
}

main section .content .left {
    padding-right: 30px
}

main section .content .right {
    padding-left: 30px
}

main section .content img {
    width: 100%
}

main section:last-of-type>div {
    border: none
}

@media screen and (max-width: 768px) {
    main section:not(: first-of-type) .content {
        padding-left: 0;
        padding-right: 0
    }
}

@media screen and (max-width: 550px) {
    main section .content {
        padding-left: 0;
        padding-right: 0
    }
}

main section[id="1"] {
    background-image: url("/assets/images/bg1.png")
}

main section[id="1"] .left {
    flex: 1;
    padding-top: 100px
}

main section[id="1"] .left img {
    max-width: 900px
}

main section[id="1"] .left .description {
    margin: 50px 0 90px 0;
    width: 70%
}

main section[id="1"] .left .description h3 {
    font-size: 25px
}

main section[id="1"] .right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center
}

main section[id="1"] .right img {
    max-width: 386px;
    max-height: 448px
}

main section[id="1"] .stats {
    display: flex;
    flex: 100%;
    padding-bottom: 60px
}

main section[id="1"] .stats .stat {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 25px;
    align-items: center
}

main section[id="1"] .stats .stat:last-of-type {
    padding-right: 0
}

main section[id="1"] .stats .stat img {
    width: 60px
}

main section[id="1"] .stats .stat p {
    color: #7DD3F1;
    font-size: 16px;
    text-transform: uppercase
}

@media screen and (max-width: 1024px) {
    main section[id="1"] .left .description {
        width: 100%
    }
    main section[id="1"] .left .description h3 {
        font-size: 20px
    }
    main section[id="1"] .stats .stat img {
        width: 50px
    }
}

@media screen and (max-width: 768px) {
    main section[id="1"] .left {
        flex: 100%;
        order: 2;
        text-align: center;
        padding-right: 0;
        padding-top: 70px
    }
    main section[id="1"] .right {
        flex: 100%;
        order: 1;
        padding-left: 0
    }
    main section[id="1"] .stats {
        order: 3;
        justify-content: center;
        text-align: center
    }
}

main section[id="2"] {
    background-image: url("/assets/images/bg2.png");
    background-position-y: bottom;
    background-position-x: -30px;
    background-size: 1462px
}

main section[id="2"] .content {
    min-height: 500px;
    justify-content: flex-end
}

main section[id="2"] .right {
    padding: 0;
    width: 40%;
    padding-bottom: 50px
}

@media screen and (max-width: 1024px) {
    main section[id="2"] {
        background-position-x: -100px;
        background-size: 1100px
    }
    main section[id="2"] .right {
        width: 60%
    }
}

@media screen and (max-width: 768px) {
    main section[id="2"] {
        background-image: url("/assets/images/bg2-reverse.png");
        background-position: right -100px bottom;
        background-size: 900px
    }
    main section[id="2"] .content {
        justify-content: flex-start
    }
    main section[id="2"] .right {
        width: 70%
    }
}

@media screen and (max-width: 550px) {
    main section[id="2"] {
        background-image: url("/assets/images/bg2-reverse.png");
        background-position: right -80px bottom;
        background-size: 700px
    }
    main section[id="2"] .content {
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0
    }
    main section[id="2"] .content .right {
        width: 100%;
        padding-bottom: 200px
    }
}

main section[id="3"] {
    background-image: url("/assets/images/bg3.png")
}

main section[id="3"] .content {
    align-items: center
}

main section[id="3"] .left {
    flex: 3;
    padding-right: 0
}

main section[id="3"] .right {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5
}

main section[id="3"] .right img {
    max-width: 736px;
    max-height: 703px;
    height: 100%
}

@media screen and (max-width: 1024px) {
    main section[id="3"] .left {
        flex: 4
    }
    main section[id="3"] .right {
        flex: 6
    }
    main section[id="3"] .right img {
        max-width: 428px;
        max-height: 409px
    }
}

@media screen and (max-width: 768px) {
    main section[id="3"] .left {
        flex: 100%
    }
    main section[id="3"] .left * {
        width: 70%
    }
    main section[id="3"] .right {
        flex: 100%;
        justify-content: flex-end
    }
}

@media screen and (max-width: 550px) {
    main section[id="3"] .left {
        flex: 100%
    }
    main section[id="3"] .left * {
        width: 100%
    }
    main section[id="3"] .right {
        flex: 100%;
        justify-content: center
    }
    main section[id="3"] .right img {
        max-width: 380px;
        max-height: 362px
    }
}

main section[id="4"]>.content>h1 {
    flex: 100%
}

main section[id="4"] .content {
    padding-top: 30px;
    padding-bottom: 60px
}

main section[id="4"] .left {
    flex: 3
}

main section[id="4"] .right {
    flex: 5
}

main section[id="4"] .right h3 {
    font-family: 'IBMPlexSansRegular';
    margin-bottom: 0
}

main section[id="4"] .right p {
    margin-bottom: 0;
    margin-top: 0
}

@media screen and (max-width: 768px) {
    main section[id="4"] .left {
        flex: 100%;
        padding-right: 0
    }
    main section[id="4"] .right {
        flex: 100%;
        padding-left: 0
    }
}

@media screen and (max-width: 460px) {
    main section[id="4"] .right p:not(: last-of-type) {
        margin-bottom: 10px
    }
}

.lang-switch-area {
    position: absolute;
    top: 0vh;
    right: 5vw;
  }
  .lang-switch li {
    display: inline-block;
    padding: 3px;
  }
  .lang-switch li:hover {
    transform: scale(1.2);
    transition: 1s ease;
  }
  
  .lang-switch li a img{
    width: 35px;
    height: auto;
  }